/* Add styles to the form container */
form {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  max-width: 400px;
  background-color: white;
  z-index: 9;
}

h1 {
  padding-top: 2rem;
  padding-left: 2rem;
}

.inputs, .years{
  width: 80%;
  margin: 2rem;
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  flex-grow: 1;
  margin: 2rem;
  padding-bottom: 2rem;
  gap: 0.1rem;
}

input, label{
  margin-top: 0.2rem;
}

input {
  border-radius: 5px;
  border-style: solid;
}